<section class="contactUs">
    <div>
        <form action="#" method="post">
            <div>Escribinos</div>
            
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" placeholder="Tu nombre..">
            
            <label for="subject">Asunto</label>
            <textarea id="subject" name="subject" placeholder="Escriba su consulta.." style="height:10vh"></textarea>
        
            <input type="submit" value="Submit">
        
        </form>
    </div>
</section>