<head>
    <link rel="stylesheet" href="/stylesheets/contactUs.css">
</head>
<section class="contactUs">
    <div class="container">
        <form class="contactForm" action="#" method="post">
            <div class="contactTitle">Escribinos</div>
            
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" placeholder="...">
            
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="...">
            
            <label for="subject">Asunto</label>
            <textarea style="height: 25vh;"id="subject" name="subject" placeholder="Escriba su consulta.." style="height:10vh"></textarea>
        
            <input id="submitButton" type="submit" value="Enviar">
        
        </form>
    </div>
</section>