<head>
    <link rel='stylesheet' href='/stylesheets/footer.css' />

</head>
<body>
    <footer>
        <div>Creado por <a href="https://www.linkedin.com/in/carmela-iannelli/"> Carmela Iannelli</a></div>
    </footer>

</body>