<head>
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />

</head>
<body>

    <div class="footer">Creado por <a href="https://www.linkedin.com/in/carmela-iannelli/"> Carmela Iannelli</a></div>

</body>