<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" href="/stylesheets/contactUs.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- HEADER-->
    <section class="headerPartial">
        <%- include('../partials/headerLogged') %>
    </section>

    <main class="mainContactUs">
        <%- include("../partials/contactUs") %>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>

</body>

</html>